{% set user = grav.user %} 

{% if user.access.site.login == 'true' %}
<div class="admin-menu d-flex flex-wrap justify-content-between">
<a href="{{ uri.base }}"><i class="fa fa-home"></i></a>

    <div class="nav-right">
    {{ user.username }}
    <a class="user-link-logout" href="{{ uri.addNonce(base_url_relative ~ uri.path ~ '/task' ~ config.system.param_sep ~ 'login.logout', 'logout-form', 'logout-nonce')|e }}">{{ 'PLUGIN_LOGIN.BTN_LOGOUT'|t }}</a>
    </div>
</div> 

{% endif %} 
